.slider {
    background-color: white;
    color: #222;
    font-size: 16px;
    line-height: 1.5;
    overflow: scroll !important;
    padding: 20px;
    position: absolute;
    right: -550px;
    top: 0;
    width: 550px !important;
}

.slider.visible {
    right: 0;
}
