    /* palette https://colorhunt.co/palette/152733 */
    body {
        background-color: #444444;
        font-family: 'proxima-nova', Helvetica;  
      }
     
      #mynetwork {
        width: 100%;
        height: 760px;
        background: #444444;
      }
      #header, #header a {
        color: white;
      }
      #slider {
        width: 550px !important;
        overflow: scroll !important;
        background-color: white;
        padding: 20px;
        color: #222;
        font-size: 16px;
        line-height: 1.5;
      }
      #slider h1 { margin-bottom:0;}
      .slider-gallery { display: none;}
      .slider-chapeau {
          font-size:24px;
          line-height: 26px;
          color:grey;
          font-weight: bold;
          margin-bottom: 20px;
          margin-top:5px;
      }
      #back2graphButton { margin:10px;}
      .nodeEditButton { float:right;margin:10px; }
      #nodeEditForm { display: none; }
      #alertMessage { display:none;z-index: 100;}
      .closeAlert { color:blue !important; }